**SEHH2376 Data Science with Programming**<br>
Take-home Assignment 2

Student Name:Chao Ka Kin
<br>
Student ID:22004488A

In [2]:
# Run the code below to access files in my Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Task 1
# import Pandas module
import pandas as pd

# Read XLSX file into DataFrame 
# We are reading "sales" from the file supermarket_sales.xlsx
datadf = pd.read_excel("/content/drive/MyDrive/Data/supermarket_sales.xlsx",sheet_name="sales")
display(datadf.head(10))#display the first 10 rows of the DataFrame.

,Invoice ID,Branch,City,Customer Type,Gender,Product Line,Unit Price,Quantity,Tax,Total,Date,Time,Payment,COGS,Gross Margin Percentage,Gross Income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7.0,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5.0,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7.0,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8.0,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7.0,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7.0,29.8865,627.6165,2019-03-25,18:30:00,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6.0,20.6520,433.6920,2019-02-25,14:36:00,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10.0,36.7800,772.3800,2019-02-24,11:38:00,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2.0,3.6260,76.1460,2019-01-10,17:15:00,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3.0,8.2260,172.7460,2019-02-20,13:27:00,Credit card,164.52,4.761905,8.2260,5.9

In [4]:
#Task 2
df=pd.DataFrame()#Create a empty DataFrame
a=datadf["Gross Income"].quantile(q=0.75)-datadf["Gross Income"].quantile(q=0.25)#Calculate the interquartile range of Gross Income
b=datadf["Rating"].quantile(q=0.75)-datadf["Rating"].quantile(q=0.25)#Calculate the interquartile range of Rating
c=datadf["Gross Income"].std()/datadf["Gross Income"].mean()#Calculate the coefficient of variation of Gross Income
d=datadf["Rating"].std()/datadf["Rating"].mean()#Calculate the coefficient of variation of Rating
e=datadf["Gross Income"].std()#Calculate the sample standard deviation of Gross Income
f=datadf["Rating"].std()#Calculate the sample standard deviation of Rating
#Create 4 new Variables "Variable","IQR","CV","SD" with their value in the empty DataFrame
df["Variable"]="Gross Income","Rating"
df["IQR"]=a,b
df["CV"]=c,d
df["SD"]=e,f
display(df)#Display the DataFrame stored the statistics

#Task 3
print()#Use some blank lines to separate the output
Total1=datadf.loc[(datadf["Gender"]=="Female")&(datadf["City"]=="Yangon")]#Extract the column that satisfied with the condition from female customers in Yangon
Total2=datadf.loc[(datadf["Gender"]=="Female")&(datadf["City"]=="Naypyitaw")]#Extract the column that satisfied with the condition from female customers in Naypyitaw
print("Total of 'Gross Income' from female customers in Yangon is",Total1["Gross Income"].sum())#print the total Gross Income for female customers in Yangon
print("Total of 'Gross Income' from female customers in Naypyitaw is",Total2["Gross Income"].sum())#print the total Gross Income for female customers in Naypyitaw

#Task 4
print()#Use some blank lines to separate the output
Mode=datadf.loc[(datadf["Gender"]=="Male")]#Extract the data that Gender is Male
Mean=Mode.loc[Mode["Product Line"]=="Health and beauty"]#Extract the data that Product Line is MaleHealth and beauty
print("The most popular product line among male costumers is",Mode["Product Line"].mode()[0])#print the most popular product line among male customers
print("The average quantity per invoice for this product line among male costumers is",Mean[["Quantity"]].mean()[0])#print the average quantity per invoice for the product line found among male customers

       Variable        IQR        CV         SD
0  Gross Income  16.520375  0.761333  11.708825
1        Rating   3.000000  0.246473   1.718580

Total of 'Gross Income' from female customers in Yangon is 2536.6270000000004
Total of 'Gross Income' from female customers in Naypyitaw is 2937.4030000000002

The most popular product line among male costumers is Health and beauty
The average quantity per invoice for this product line among male costumers is 5.806818181818182